*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  /* background-color: rgb(71, 52, 52); */
  background: url(img/map/IMG_6199.JPG);
  height: 100vh;
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center;
  z-index: 1;
  overflow: hidden;
  margin: 0;
  
}

button{
  border: none;
  color: #fff;
}
/* mahsa */
:root{
  --start-menu-btnC: #2c271eb3;
  --hover-start-menu-btnC: #000000b0;
  --text-color: #fff;
}
.container-start-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.477);
  width: 100%;
  height: 100vh;
  color: var(--text-color);
}
.container-start-menu>h2{
  color: rgb(6, 5, 4);
  font-size: 60px;
}
.start-menu{
  width: 350px;
  height: 400px;
  background-image: url(photo-1515446134809-993c501ca304.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  border-radius: 20px;
  z-index: 10;
  margin-bottom: 100px;
}
.start-btn , .guid-btn{
  width: 250px;
  height: 100px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: var(--start-menu-btnC);
  cursor: pointer;
}
.start-btn:hover , .guid-btn:hover{
  background: var(--hover-start-menu-btnC);
}
.hide-menu{
  opacity: 0;
  display: none;
}
.guid-menu{
  opacity: 0;
  display: none;
}
.guid-bord{
  background-color: var(--start-menu-btnC);
  height: 92%;
  width: 85%;
  font-size: 20px;
  padding: 0px 15px;
}
.show-giud{
  opacity: 1;
  width: 350px;
  height: 400px;
  background-image: url(photo-1515446134809-993c501ca304.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  border-radius: 20px;
  z-index: 10;
  margin-bottom: 100px;
}
/* mahsa end */


section{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

h1{
  font-family: 'Montserrat';
  color: white;
  font-size: 30px;
  margin-top: 5px;
  margin-left: 16px;
 
}

.container {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(66, 54, 21);
  margin-top: 10px;

}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}
/* mostafa */
.character {
width: 60px;
height: 80px;
position: absolute;

}
#player1 {
top: 0;
left: 0;
display: none;

}

#player2 {
 right: 0;
 bottom: 100px;
 display: none;
 
}

/* wall */

.walls{
  position: relative;
}
.wall-two {
  position: absolute;
  top: 400px;
  left:50px;
}

.wall-three {
  position: absolute;
  left: 120px;
  top: 10px;
}

.wall-four {
 position: absolute;
 bottom: 50px;
 top: 500px;
}

.wall-five {
  position: absolute;
  top: 300px;
  right: 140px;
}

.wall-six {
  position: absolute;
  right: 180px;
}

.wall-seven {
  position: absolute;
  top: 100px;
  right: 300px;
  left: 300px;
}

.wall-eight {
  position: absolute;
  right: 500px;
  top: 100px;
}