body{
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.container{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffff;
    width: 400px;
    height: 200px;
    font-size: 100px;
    border-radius: 10px;
}
.playerOne , .playertwo{
    display: flex;
    flex-direction: column;
}
.container button{
    background-color: rgb(152, 151, 151);
    font-size: 30px;
    border: none;
}